<app-encabezado></app-encabezado>
<h1>Propiedades</h1>
<div class="row">
  <div class="col-md-4">
    Propiedades <button type="button" class="btn btn-warning" (click)="crearPropiedad()"><i
        class="bi bi-plus-circle"></i></button>
    <div>
      <table class="table" border="0">
        <thead>
          <th>Nombre</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let propiedad of propiedades">
            <td><a href="/propiedades/{{propiedad.id}}/reservas">{{propiedad.nombre_propiedad}}</a></td>
            <td>
              <button (click)="verDetalle(propiedad.id)"  [disabled]="false" type="button" class="btn btn-success" test-id="bot_ver"><i
                  class="bi bi-eye"></i></button>&nbsp;
              <button [disabled]="false" type="button" class="btn btn-primary" test-id="bot_editar"
                (click)="editarPropiedad(propiedad.id)"><i class="bi bi-pencil"></i></button>&nbsp;
              <button [disabled]="false" type="button" class="btn btn-danger" test-id="bot_borrar"
                (click)="borrarPropiedad(propiedad.id)"><i class="bi bi-trash"></i></button>&nbsp;
              <button [disabled]="false" type="button" class="btn btn-warning" test-id="bot_movimientos"
                (click)="movimientos(propiedad.id)"><i class="bi bi-cash-coin"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8">
    <app-propiedad-detalle *ngIf="mostrarDetalleComponente" [propiedadId]="propiedadSeleccionadaId"></app-propiedad-detalle>

  </div>
</div>